# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
.npm/
dist/
.svelte-kit/

# Database
*.db
*.sqlite3

# Heavy Media Files
videos/
*.mp4
*.mov
*.avi
*.mkv
*.webm

# 3D Files
*.glb
*.gltf
*.fbx
*.obj
*.blend
*.stl

# Hybrik Repo Heavy Files
hybrik_repo/model_files/
hybrik_repo/model_files.zip
hybrik_repo/pretrained_models/
hybrik_repo/assets/
hybrik_repo/examples/
hybrik_repo/output/
hybrik_repo/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.code-workspace
